<table class="table">
    <thead>
        <tr>
            <th>
                Url
            </th>
            <th>
                Category name
            </th>
            <th>
                Actions
            </th>
            <th>Add to favorites</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a onclick="updateBookmarkTrackingStats(@item.ID)" href="@item.URL" target="_blank">@item.URL</a>
            </td>
            <td>
                @item.CategoryName
            </td>
            <td>
                <a class="btn btn-sm btn-info" data-toggle="collapse" href=@string.Format("#collapse{0}",item.ID) role="button" aria-expanded="false" aria-controls="collapse">
                    Description
                </a>
                @if (ViewBag.Page == "MyBookmarks")
                {
                    <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                }
            </td>
            <td>
                <a onclick="addFavourite(@item.ID)" id="@item.ID" class="far fa-star pointer" data-toggle="tooltip" data-placement="top" title="Add to Favourites"></a>
            </td>
        </tr>

            <tr class="collapse" id=@string.Format("collapse{0}",item.ID)>
                <td class="card card-body" style="margin-bottom:10px">
                    @item.ShortDescription
                </td>
            </tr>
        }
    </tbody>
</table>